// Variables
$color-primary: #a5b4fc;
$color-secondary: #242424;
$color-light: #f9f8ff;
$color-black: #1f2039;
$color-white: white;
$color-lg-1: #8e86b5;
$color-lg-2: #acaeed;
$title-shadow-percent: 35%;

.portfolio-section-photos {
  background-color: $color-white;
  h2 {
    color: $color-secondary;
    margin-bottom: 80px;
  }
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid-paysages,
.grid-portraits {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 996px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: $color-white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}
